__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
.env
.env.*

*.log

.ipynb_checkpoints/

*.swp
*.tmp
*.temp
*.bak

*.egg-info/
dist/
build/

.vscode/
.idea/
*.iml

*.lock
*.DS_Store

!.gitignore
!README.md